/*************************************************/

/* Primary Style for Lacourse.co
 * Written by Mike Lacourse 12/2015 */

/*************************************************/

/* Document Layout */
::selection {background-color:#aaa;color:#fff;}
body {-webkit-font-smoothing:antialiased;overflow-x:hidden;font-size:16px;font-weight:400;line-height:28px;letter-spacing:1px;background:#1c1c1c;background-image:url('../static/images/bg-texture@2x.jpg');background-size:150px;color:#fff;}
.pure-g, #navigation .pure-u-1 {max-width:767px;position:relative;margin:auto;}
.pure-g.wide {max-width:1024px;}
.page {margin-top:140px;}
.section {margin-bottom:98px;overflow:hidden;}
.content {margin:0px 20px;}
#footer {margin-bottom:0px;font-size:13px;}
#testimonials {margin-bottom:21px;}
#intro {margin-bottom:42px;}

/* Navigation */
#navigation {width:100%;max-width:none;height:98px;position:fixed;top:0px;z-index:1;background-color:rgba(24,24,24,.97);}
.lco-logo {background-image:url('../static/images/logo@2x-on.png');background-size:100%;width:140px;height:54px;}
.lco-logo:hover {/* background-image:url('../static/images/logo@2x-on.png'); */}
#navigation .pure-u-1 {margin:22px auto;display:block;}

/* Text */
h1 {font-size:52px;line-height:60px;font-weight:600;margin-bottom:14px;margin-top:28px;}
h1 strong {display:block;margin-bottom:14px;}
h2 {font-size:21px;line-height:35px;margin-bottom:70px;font-weight:400;max-width:630px;}
h3 {font-size:25px;line-height:28px;font-weight:600;margin-top:0px;margin-bottom:14px;}
h4 {font-size:17px;font-weight:500;margin-top:0px;margin-bottom:3.5px;}

p {margin:0px 0px 14px 0px;}
a, a:visited, a:active {text-decoration:none;color:#03e985;outline:none;transition: all 0.25s ease;}
a:hover {text-decoration:underline}

.lco-button, .lco-button:focus, lco-button:active, .lco-button:visited {font-size:13px;letter-spacing:1px;text-transform:uppercase;text-decoration:none;font-weight:700;padding:11px 40px;border:2px solid #FF4040;color:white;background-color:#FF4040;}
.lco-button:hover, .lco-button.active {text-decoration:none;/* border-color:#ff4040;background-color:#ff4040;color:white; */}
.lco-button.active:hover {text-decoration:none;/* background:#00da78;border-color:#00da78; */}
.lco-button-tag {background:#222;border:2px solid #444;color:#444;font-size:12px;font-weight:600;padding:5px 20px;margin-top:7px;float:left;clear:both;text-transform:uppercase;display:inline-block;}
.lco-button-tag.design {/* color:#40ffeb;border-color:#40ffeb; */}
.lco-button-tag.dev {/* color:#40cbff;border-color:#40cbff; */}

/* About */
#about h3 {font-size:22px;font-weight:400;margin-bottom:21px;color:#00ff90;}
#about p {margin:0px;}
#about p strong {display:block;font-weight:800;}
#about .lco-feature {text-align:center;padding:35px 24px;background:rgba(24,24,24,.5);margin-right:14px;margin-bottom:14px;}
#about .lco-feature p strong {display:block;text-transform:uppercase;font-size:15px;font-weight:600;letter-spacing:1px;}
#about .lco-feature p {/* margin-right:14px;margin-bottom:49px; */font-weight:400;font-size:15px;}

/* Portfolio - Sticky Sidebar */
.stuck {position:fixed;top:140px;}
.stop {position:absolute;bottom:0px;}
.start {position:absolute;top:0px;}

/* Portfolio - Projects */
#welcome h3 {font-size:15px;font-weight:400;margin:0px;}
#welcome h3 strong {display:block;font-size:32px;padding-bottom:14px;}
#welcome p {margin:0px;font-size:20px;line-height:35px;font-weight:300;}
#portfolio h4 {font-size:28px;line-height:42px;margin-bottom:63px;font-weight:600;}

#portfolio {/* max-width:600px; */}
.portfolio-entry {clear:both;font-weight:400;font-size:17px;margin-bottom:28px;}
.portfolio-entry a .title {font-weight:600;color:white;display:block;line-height:21px;}
.portfolio-entry a .url {display:block;color:#999;text-decoration:underline;}
.portfolio-entry a:hover {text-decoration:none;}
.portfolio-entry a:hover .url, .portfolio-entry.more-entries a:hover {text-decoration:underline;color:#40cbff;}
.portfolio-entry .description {margin:0px 0px 21px 0px !important;}
.more-entries a {display:block;float:left;clear:both;}

.p-label {font-size:12px;margin-top:0px;float:right;}
.circle {vertical-align:middle;display:inline-block;border-radius:0%;width: 6px;height: 6px;line-height:21px;}
.circle.pink {background-color:rgba(62,144,214,1);}
.circle.blue {background-color:#3ed697;}
.portfolio-entry .circle {margin-left:5px;}
.more-entries .circle {float:left;}

/* Adventure Popup */
.mfp-bg {background:#222;opacity:.97;}
.mfp-figure:after {box-shadow:none;}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {position:fixed;margin-right:15px;}
.adventure-nav {display: block;position: fixed;top:35%;color:#999;font-size: 40px;padding:50px 35px;}
.adventure-nav:hover {color:white;cursor:pointer;}
.adventure-nav.left:before {content: '\e801';margin:0px;width:20px;height:20px;}
.adventure-nav.right:before {content: '\e802';margin:0px;width:20px;height:20px;}
.adventure-nav.left {left:0px;}
.adventure-nav.right {right:0px;}

/* About Popup */
#lco-about, #lco-contact {max-width:660px;margin:auto;margin-top:0px;background:#222;padding:49px;font-size:18px;color:white;line-height:28px;font-weight:400;}
#lco-about {font-size:17px;line-height:28px;}
#lco-contact p {margin:0px;font-size:20px;line-height:35px;font-weight:400;text-align:left;}
#lco-contact a {text-decoration:underline;}
#lco-contact img {display:none;margin-bottom:14px;}
.lco-black.mfp-bg {background-image:url('../static/images/bg-texture-dark@2x.jpg');background-size:150px;opacity:1;background-color:#222;}
.lco-green.mfp-bg {background-image:url('../static/images/bg-texture-dark@2x.jpg');background-size:150px;opacity:1;background-color:#222;}
.mfp-close, .mfp-close:active {right:10px;top:10px;opacity:1;color:white !important;}
.mfp-close:hover {opacity:.8;}

/* Popup Animations */
.lco-black, .lco-green {opacity: 0;-webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); }
.lco-black.mfp-ready, .lco-green.mfp-ready {opacity: 1;-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
.lco-black.mfp-removing, .lco-green.mfp-removing {-webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); opacity: 0;}
.lco-black.mfp-bg, .lco-green.mfp-bg {opacity: 0;-webkit-transition: opacity 0.3s ease-out; -moz-transition: opacity 0.3s ease-out; -o-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out;}
.lco-black.mfp-ready.mfp-bg, .lco-green.mfp-ready.mfp-bg {opacity:1;}
.lco-black.mfp-removing.mfp-bg, .lco-green.mfp-removing.mfp-bg {opacity: 0;}

/* Testimonials */
.testimonial {max-width:767px;margin:28px 0px;}
blockquote {font-size:17px;line-height:28px;margin:0px;font-style:italic;font-weight:400;max-width:600px}
cite {margin-bottom:7px;margin-top:0px;font-style:normal;font-weight:300;}
cit strong {}
#testimonials h3 {margin:0px;}


/* Slideshow Buttons */
.button.next, .button.prev {text-decoration:none;display:inline-block;background:#dedede;color:#676767;font-size:12px;padding:1px 10px;margin:0px 7px 7px 0px;}
.button.next:hover, .button.prev:hover {background-color:rgba(62,144,214,1);color:white;}

/* Utility Classes */
.hide {display:none;}
.center {text-align:center;}
.right {text-align:right;}
.topless {margin-top:0px;}
.fl-left {float:left;}
.fl-right {float:right;}
.add-bottom {margin-bottom:42px;}
.animate {	transition: all .1s ease-in-out;
			-moz-transition: all .1s ease-in-out;
			-webkit-transition: all .1s ease-in-out;
			-ie-transition: all .1s ease-in-out;
			-o-transition: all .1s ease-in-out; }

/* Mobile */

@media screen and (max-width: 48em) {

	.page {margin-top:100px;}
	.section {margin-bottom:0px;}

	h2 {margin-bottom:21px;}

	/* Unstick the welcome sidebar for single column */
	.stuck, .stop, .start {position:relative;bottom:initial;top:initial;}

	/* Remove left margin on content wrap for single column */
	.content {margin:20px;}
	#navigation .content {margin:0px 20px;}

	/* Popup */
	.adventure-nav {z-index:2000;color:#fff;top:40%;}
	.adventure-nav.left {left:0px;}
	.adventure-nav.right {right:0px;}

 	/* Portfolio Section */
	.portfolio-entry .description {font-size:15px;line-height:21px;}
	#portfolio h5 {margin-bottom:0px;}
	.p-label {clear:both;float:none;margin-bottom:21px;}

	#testimonials {margin-top:35px;}
	.testimonial {margin:0px;}

	#portfolio p {font-size:17px;font-weight:400;line-height:28px;}

	#lco-about, #lco-contact {/* padding:20px; */}

	.lco-button-tag {padding:0px 10px;font-size:11px;border-width:1px;}

}

@media screen and (max-width: 35.5em) {
	.mfp-close, .mfp-close:active {right:14px;top:14px;}
	#about .lco-feature p {font-size:17px;font-weight:400;}
	#about .lco-feature p strong {font-size:19px;margin-bottom:7px;}
	#about .lco-feature {margin-right:0px;}
/*
	h1 {line-height:35px;}
	h1 strong {line-height:77px;font-size:70px;}
 */
	/* Drop design/dev lable underneath featured work */
	.p-label {clear:both;float:none;}
	#portfolio h4 {padding-bottom:0px;}

	.lco-button-tag {padding:0px 10px;border-width:1px;font-size:10px;margin-bottom:7px;clear:none;margin-right:7px;}
	.lco-button, .lco-button:active, .lco-button:focus, .lco-button:visited {font-size:12px;padding:10px 20px;margin-top:2px;}
	#footer p {text-align:left;}

}

@media screen and (max-width: 22em) {
	h1 strong {line-height:63px;font-size:60px;}
	.lco-button, .lco-button:active, .lco-button:focus, .lco-button:visited {font-size:11px;padding:5px 10px;margin-top:6px;}
	#lco-about, #lco-contact {padding:30px;}
	.lco-logo {width:110px;margin-top:5px;background-repeat:no-repeat;}
}
