<div id="quote" class="pop-window mfp-hide">
	<div class="wrap">
		<form id="form4" name="form4" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://mikelacourse.wufoo.com/forms/rinnwr0cvifjs/#public">

		    <ul>
		        <li id="foli3" class="notranslate      ">
		            <label class="desc" id="title3" for="Field3">
		                Name
		            </label>
		            <span>
		                <input id="Field3" name="Field3" type="text" class="field text fn" value="" size="8" tabindex="1" placeholder=""       />
		                <label for="Field3">First</label>
		            </span>
		            <span>
		                <input id="Field4" name="Field4" type="text" class="field text ln" value="" size="14" tabindex="2" placeholder="" />
		                <label for="Field4">Last</label>
		            </span>
		        </li>
		        <li id="foli5" class="notranslate      ">
		            <label class="desc" id="title5" for="Field5">
		                Email
		            </label>
		            <div>
		                <input id="Field5" name="Field5" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3"       placeholder="" />
		            </div>
		        </li>
		        <li id="foli6" class="phone notranslate      ">
		            <label class="desc" id="title6" for="Field6">
		                Phone Number
		            </label>
		            <span>
		                <input id="Field6" name="Field6"       type="tel" class="field text" value="" size="3" maxlength="3" tabindex="4"       onkeyup="autotab(this, document.getElementById('Field6-1'), this); filterNonnumeric(this);"             onfocus="this.selectionStart = this.selectionEnd = this.value.length;" placeholder=""       />
		                <label for="Field6">###</label>
		            </span>
		            <span class="symbol">-</span>
		            <span>
		                <input id="Field6-1" name="Field6-1"       type="tel" class="field text" value="" size="3" maxlength="3" tabindex="5"       onkeyup="autotab(this, document.getElementById('Field6-2'), document.getElementById('Field6')); filterNonnumeric(this);"       onfocus="this.selectionStart = this.selectionEnd = this.value.length;" placeholder="" />
		                <label for="Field6-1">###</label>
		            </span>
		            <span class="symbol">-</span>
		            <span>
		                <input id="Field6-2" name="Field6-2"       type="tel" class="field text" value="" size="4" maxlength="4" tabindex="6"       onkeyup="autotab(this, this, document.getElementById('Field6-1')); filterNonnumeric(this);"             onfocus="this.selectionStart = this.selectionEnd = this.value.length;" placeholder="" />
		                <label for="Field6-2">####</label>
		            </span>
		        </li>
		        <li id="foli1" data-wufoo-field data-field-type="text" class="notranslate      ">
		            <label class="desc" id="title1" for="Field1">
		                Organization Name
		            </label>
		            <div>
		                <input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="7" onkeyup=""       placeholder="" />
		            </div>
		        </li>
		        <li id="foli7" class="notranslate       ">
		            <label class="desc" id="title7" for="Field7">
		                Website
		            </label>
		            <div>
		                <input id="Field7" name="Field7" type="url" class="field text medium" value="" maxlength="255" tabindex="8" placeholder=""       />
		            </div>
		        </li>
		        <li id="foli9"
		        class="notranslate"><label class="desc" id="title9" for="Field9">
		            Tell us about what you need
		        </label>

		        <div>
		            <textarea id="Field9" name="Field9" class="field textarea medium"
		            spellcheck="true" rows="10" cols="50" tabindex="9" onkeyup="" placeholder="" ></textarea>
		        </div>
		    </li>
		    <li id="foli10" data-wufoo-field data-field-type="text" class="notranslate      ">
		        <label class="desc" id="title10" for="Field10">
		            Budget
		        </label>
		        <div>
		            <input id="Field10" name="Field10" type="text" class="field text medium" value="" maxlength="255" tabindex="10" onkeyup=""       placeholder="" />
		        </div>
		    </li> <li class="buttons ">
		        <div>
		            <input id="saveForm" name="saveForm" class="btTxt submit"
		            type="submit" value="Submit"/>
		        </div>
		    </li>

		    <li class="hide">
		        <label for="comment">Do Not Fill This Out</label>
		        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
		        <input type="hidden" id="idstamp" name="idstamp" value="rEVI67xfsqgoJmblZ9ccCIqrFJ6Fim6FqeI0MVmV11A=" />
		    </li>
		</ul>
		</form>
    </div>
	<div class="pop-bg"></div>
</div>

<script src="{{ site.baseurl }}/static/js/library.js?v1.0"></script>
<script src="{{ site.baseurl }}/static/js/components.js?v1.0"></script>
<script src="{{ site.baseurl }}/static/js/wufoo.js"></script>
<script src="https://snippets.freshchat.com/js/fc-pre-chat-form-v2.js"></script>

<script>

	var preChatTemplate = {
	  //Form header color and Submit button color.
	  mainbgColor: '#0aa4db',
	  //Form Header Text and Submit button text color.
	  maintxColor: '#fff',
	  //Chat Form Title
	  heading: 'GadgetGod',
	  //Chat form Welcome Message
	  textBanner: 'We can\'t wait to talk to you. But first, please take a couple of moments to tell us a bit about yourself.',
	  //Submit Button Label.
	  SubmitLabel: 'Start Chat',
	  //Fields List - Maximum is 5
	  //All the values are mandatory and the script will not work if not available.
	  fields : {
		field1 : {
		  //Type can be either text or title
		  type: "title",
		  //Label for Field Title, can be in any language
		  label: "Title",
		  //Field ID for Title
		  fieldId: "title",
		  //Required "yes" or "no"
		  required: "yes",
		  //Error text to be displayed
		  error: "Please Enter a valid Title"
		},
		field2 : {
		  //Type for Name - Do not Change
		  type: "name",
		  //Label for Field Name, can be in any language
		  label: "Name",
		  //Default - Field ID for Name - Do Not Change
		  fieldId: "name",
		  //Required "yes" or "no"
		  required: "yes",
		  //Error text to be displayed
		  error: "Please Enter a valid name"
		},
		field3 : {
		  //Type for Email - Do Not Change
		  type: "email",
		  //Label for Field Email, can be in any language
		  label: "Email",
		  //Default - Field ID for Email - Do Not Change
		  fieldId: "email",
		  //Required "yes" or "no"
		  required: "yes",
		  //Error text to be displayed
		  error: "Please Enter a valid Email"
		},
		field4 : {
		  //Type for Phone - Do Not Change
		  type: "phone",
		  //Label for Field Phone, can be in any language
		  label: "Phone",
		  //Default - Field ID for Phone - Do Not Change
		  fieldId: "phone",
		  //Required "yes" or "no"
		  required: "yes",
		  //Error text to be displayed
		  error: "Please Enter a valid Phone Number"
		},
		field5 : {
		  //Type for Dropdown
		  type: "dropdown",
		  //Label for Field Dropdown, can be in any language
		  label: "Plan",
		  //Field ID for Plan Dropdown
		  fieldId: "plan",
		  //Required "yes" or "no"
		  required: "yes",
		  //Error text to be displayed
		  error: "Please select an option",
		  //Options for the Dropdown field
		  options: ['Sprout','Blossom','Garden','Estate','Forest']
		}
	  }
};

  window.fcWidget.init({
    token: "b7cff06c-dbda-4ffa-9661-5ddde3776d6f",
    host: "https://wchat.freshchat.com",
	config : {
		content: {
			headers: {
			  chat: 'Contact Us',
			  chat_help: 'What do you need help with?',
			}
		},
		cssNames: {
	        //The below element is mandatory. Please add any custom class or leave the default.
	        widget: 'custom_fc_frame',
	        //The below element is mandatory. Please add any custom class or leave the default.
	        expanded: 'custom_fc_expanded'
		}
	},
	onInit: function() {
      fcPreChatform.fcWidgetInit(preChatTemplate);
    }
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77764694-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
